root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{ts,tsx,js,jsx,graphql,sql,json,yml,yaml,sh}]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

[Dockerfile]
indent_style = space
indent_size = 2
